
.container{
   margin: 0;
   padding: 0;
   position: relative;
}
.container img{
    height: 110.6%;
    width: 110.6%;
}
.container .btn1{
    position: absolute;
    left:66.8em;
    margin-top:2px ;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    
  }
  
  .container .btn1:hover {
    background-color: rgb(242, 236, 236);
    color: black;
  }
  .container .btn2{
    position: absolute;
    margin-top:2px ;
    left:73em;
    background-color: rgb(38, 33, 33);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
  }
  
  .container .btn2:hover {
    background-color: rgb(242, 236, 236);
    color: black;
  }
  .container #chef-logo{
    position: absolute;
    left:0px;
  }